**/.ipynb_checkpoints
**/db_cache

.idea
.gitsecret/keys/random_seed
!*.secret
/Detection model (logistic regression)/postgres_credentials.yaml
**/Detection model (logistic regression)/Detection model (Logistic regression).nbconvert.ipynb
**/vpn_secrets.conf
