**/.ipynb_checkpoints
**/__pycache__
model/db_cache_tmp

.idea
.gitsecret/keys/random_seed
!*.secret
/model/postgres_credentials.yaml
**/Detection model (logistic regression)/Detection model (Logistic regression).nbconvert.ipynb
**/vpn_secrets.conf
